* {
  margin: 0 auto;
}

.top {
  border-radius: 18px;
  margin: 0 auto;
}

.top .img-container {
  position: relative;
  margin: auto;
  background-color: black;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top .img-container .carousel-img {
  width: 50%;
  height: 100%;
}

.top .desc-container {
  position: relative;
  width: 100%;
  height: 40%;
  padding-left: 50px;
}

.top .desc-container .desc-title {
  padding-left: 30px;
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.top .desc-container .ul.desc-content {
  padding-left: 0px;
  margin-left: s0px;
  position: relative;
  font-size: 2rem;
  text-align: left;
}

.arco-carousel-arrow
.arco-carousel-arrow-left {
  background-color: transparent;
  color: #120101;
  margin-top: 60px;
}

.arco-carousel-arrow
.arco-carousel-arrow-left .arco-icon {
  width: 200px;
  height: 200px;
  color: #b31111;
}

.arco-carousel-arrow
.arco-carousel-arrow-left .arco-icon :hover {
  color: chartreuse;
}

.arco-carousel-arrow .arco-carousel-arrow-right {
  background-color: transparent;
  margin-top: 60px;
}

.arco-carousel-arrow .arco-icon {
  width: 200px;
  height: 200px;
  color: #f01616;
}

.arco-carousel-arrow .arco-icon :hover {
  color: chartreuse;
}
