.history {
  position: relative;
  width: 1200px;
  height: 600px;
  background-color: bisque;
}

h1 {
  font-size: 65px;
  padding: 20px 200px;
}

.content {
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 400px;
}

.father {
  width: 600px;
  height: 200px;
}

.history .content .father {
  border-radius: 25px;
  display: flex !important;
  flex-direction: row;
  width: 100%;
}

.history .content .img-container {
  width: 300px;
  height: 200px;
}

.history .content .img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.history .content .text {
  width: 300px;
  height: 200px;
  background-color: white;
}

.text {
  line-height: 25px;
}

.text #title {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 30px;
}

.text #words {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 15px;
}

.history
.arco-carousel-arrow {
  opacity: 0;
}

.history
.arco-carousel-indicator {
  top: 150px;
}

.history
.arco-carousel-indicator .arco-carousel-indicator-item {
  width: 50px;
  height: 50px;
}

.history
.arco-carousel-indicator-item[data-index='0'] {
  background: url("./innerImages/11.png") no-repeat;
  background-size: cover;
  background-size: 450%;
  background-position: -15px  -55px;
}

.history
.arco-carousel-indicator-item[data-index='1'] {
  background: url("./innerImages/12.png") no-repeat;
  background-size: cover;
  background-size: 350%;
  background-position: -18px  -39px;
}

.history
.arco-carousel-indicator-item[data-index='2'] {
  background: url("./innerImages/13.png") no-repeat;
  background-size: cover;
  background-size: 600%;
  background-position: -55px  -88px;
}

.history
.arco-carousel-indicator-item[data-index='3'] {
  background: url("./innerImages/14.png") no-repeat;
  background-size: cover;
  background-size: 321%;
  background-position: -55px  -19px;
}

hr {
  margin-top: 325px;
  width: 600px;
  border: 2px solid black;
}

.history
.arco-carousel-indicator-wrapper-bottom {
  background: transparent;
}
