.history {
  position: relative;
  width: 1200px;
  height: 600px;
  background-color: bisque;
}

h1 {
  font-size: 65px;
  padding: 20px 200px;
}

.content {
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 400px;
  background-color: #77480b;
}

.father {
  width: 600px;
  height: 200px;
  background-color: pink;
}

.history .content .father {
  border-radius: 25px;
  display: flex !important;
  flex-direction: row;
  width: 100%;
}

.history .content .img-container {
  width: 300px;
  height: 200px;
}

.history .content .img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.history .content .text {
  width: 300px;
  height: 200px;
  background-color: white;
}

.text {
  line-height: 15px;
}

.text #title {
  margin-left: 30px;
  font-size: 30px;
}

.text #words {
  margin-left: 30px;
  font-size: 15px;
}

.arco-carousel-arrow {
  opacity: 0;
}
